In [2]:
import pandas as pd
import numpy as np
import os

`tmod_vic_envipe2016_09`

In [43]:
file_tmod_vic_envipe2016_09_impute = '../../../../dataframes/envipe/2016/tmod_vic_envipe2016_09_impute.csv'

In [44]:
df_tmod_vic_envipe2016_09_impute = pd.read_csv(file_tmod_vic_envipe2016_09_impute)
df_tmod_vic_envipe2016_09_impute.head()

,BPCOD,BP1_1,BP1_2C,BP1_3C,BP1_4,BP1_5,BP1_6,BP1_20,BP1_23,BP1_30,BP1_33
0,5,11,9,9-2,3,6,1,2,4,2,1
1,5,12,9,9-2,3,6,1,2,7,2,1
2,5,11,9,9-2,1,1,1,2,8,2,1
3,5,12,9,9-2,3,6,1,2,3,2,1
4,5,6,9,9-2,2,1,1,2,4,2,1

In [45]:
df_tmod_vic_envipe2016_09_impute_copy = df_tmod_vic_envipe2016_09_impute.copy()

In [46]:
df_tmod_vic_envipe2016_09_impute_copy.BP1_2C.value_counts(sort=False, ascending=True)

9     1124
13       1
15      20
17       1
21       1
Name: BP1_2C, dtype: int64

In [47]:
df = pd.DataFrame(df_tmod_vic_envipe2016_09_impute_copy.BP1_2C.value_counts(normalize=True, sort=False, ascending=True))
df.reset_index(inplace=True)
df

   index    BP1_2C
0      9  0.979948
1     13  0.000872
2     15  0.017437
3     17  0.000872
4     21  0.000872

In [48]:
(np.cumsum(df.BP1_2C))/df.BP1_2C.nunique()

0    0.326649
1    0.326940
2    0.332752
3    0.333043
4    0.333333
Name: BP1_2C, dtype: float64

In [118]:
dataframe_to_transform = df_tmod_vic_envipe2016_09_impute_copy.copy()

for column in df_tmod_vic_envipe2016_09_impute_copy.columns:
    df = pd.DataFrame(dataframe_to_transform[column].value_counts(normalize=True, sort=False, ascending=True))
    df['cumsum']=(np.cumsum(df[column]))/10
#    print(df)
    
    if df[df.duplicated(['cumsum'], keep=False)].any() is True:
        print(df[df.duplicated(['cumsum'], keep=False)])
    else:
        dict_to_transform = df['cumsum'].to_dict()
#        print(dict_to_transform)
        dataframe_to_transform[column] = dataframe_to_transform[column].replace(dict_to_transform)
#        print(dataframe_to_transform)

In [120]:
df_tmod_vic_envipe2016_09_impute_copy.head()

,BPCOD,BP1_1,BP1_2C,BP1_3C,BP1_4,BP1_5,BP1_6,BP1_20,BP1_23,BP1_30,BP1_33
0,5,11,9,9-2,3,6,1,2,4,2,1
1,5,12,9,9-2,3,6,1,2,7,2,1
2,5,11,9,9-2,1,1,1,2,8,2,1
3,5,12,9,9-2,3,6,1,2,3,2,1
4,5,6,9,9-2,2,1,1,2,4,2,1

In [121]:
dataframe_to_transform.head()

,BPCOD,BP1_1,BP1_2C,BP1_3C,BP1_4,BP1_5,BP1_6,BP1_20,BP1_23,BP1_30,BP1_33
0,0.068788,0.084656,0.097995,0.030776,0.082476,0.098518,0.070881,0.1,0.053531,0.1,0.063731
1,0.068788,0.099564,0.097995,0.030776,0.082476,0.098518,0.070881,0.1,0.091892,0.1,0.063731
2,0.068788,0.084656,0.097995,0.030776,0.014385,0.038535,0.070881,0.1,0.096077,0.1,0.063731
3,0.068788,0.099564,0.097995,0.030776,0.082476,0.098518,0.070881,0.1,0.011421,0.1,0.063731
4,0.068788,0.039843,0.097995,0.030776,0.050392,0.038535,0.070881,0.1,0.053531,0.1,0.063731

In [122]:
file_df_tmod_vic_envipe2016_09_transform = '../../../../dataframes/envipe/2016/tmod_vic_envipe2016_09_transform.csv'

In [123]:
dataframe_to_transform.to_csv(file_df_tmod_vic_envipe2016_09_transform, index=False)