In [1]:
import pandas as pd
import numpy as np

In [87]:
file = "../../../../../../dataframes/envipe/TMod_Vic/df_2016_09.csv"

In [88]:
df_01 = pd.read_csv(filepath_or_buffer=file)
df_01.head()

,BPCOD,BP1_1,BP1_2C,BP1_3C,BP1_4,BP1_5,BP1_6,BP1_7,BP1_8,BP1_9,...,BP5_2_3,BP5_2_4,BP5_3,BP6_1,BP6_2,BP6_3,BP7_1,ESTRATO,CVE_ENT,CVE_MUN
0,5,11,9,2,3,6,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,9,2
1,5,12,9,2,3,6,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,9,2
2,5,11,9,2,1,1,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,2
3,5,12,9,2,3,6,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,2
4,5,6,9,2,2,1,1.0,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,2

In [89]:
df_01.rename(columns={'ENT':"CVE_ENT", 
                      "MUN":"CVE_MUN"}, inplace=True)

In [90]:
df_01.head()

,BPCOD,BP1_1,BP1_2C,BP1_3C,BP1_4,BP1_5,BP1_6,BP1_7,BP1_8,BP1_9,...,BP5_2_3,BP5_2_4,BP5_3,BP6_1,BP6_2,BP6_3,BP7_1,ESTRATO,CVE_ENT,CVE_MUN
0,5,11,9,2,3,6,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,9,2
1,5,12,9,2,3,6,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,9,2
2,5,11,9,2,1,1,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,2
3,5,12,9,2,3,6,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,2
4,5,6,9,2,2,1,1.0,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,2

In [91]:
df_01.shape

(1147, 112)

In [92]:
file = "../../../../../../dataframes/envipe/TMod_Vic/df_2017_09.csv"

In [93]:
df_02 = pd.read_csv(filepath_or_buffer=file)
df_02.head()

,BPCOD,SEXO,EDAD,BP1_1,BP1_2C,BP1_3C,BP1_4,BP1_5,BP1_6,BP1_7,...,BP5_2_3,BP5_2_4,BP5_3,BP6_1,BP6_2,BP6_3,BP7_1,ESTRATO,CVE_ENT,CVE_MUN
0,7,2,30,3,2,2,3,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,7
1,7,2,43,3,2,4,1,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,15
2,5,2,43,1,9,5,1,5,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,15
3,7,2,43,11,9,15,3,9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,15
4,7,2,43,6,9,15,2,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,9,15

In [94]:
df_02[(df_02.CVE_ENT==9)].shape

(3951, 117)

In [95]:
df_02.CVE_ENT.unique()

array([9])

In [96]:
df_02.shape

(3951, 117)

In [97]:
df_01.shape

(1147, 112)

In [98]:
frames = [df_01, df_02]

In [99]:
df = pd.concat(frames)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [100]:
df.shape

(5098, 120)

In [101]:
df_copy=df.copy()

In [102]:
list(df_copy.columns)

['BP1_1',
 'BP1_10_1',
 'BP1_10_2',
 'BP1_10_9',
 'BP1_11',
 'BP1_12_1',
 'BP1_12_2',
 'BP1_12_3',
 'BP1_12_4',
 'BP1_12_5',
 'BP1_12_9',
 'BP1_13',
 'BP1_14_1',
 'BP1_14_2',
 'BP1_14_3',
 'BP1_14_4',
 'BP1_14_9',
 'BP1_15',
 'BP1_16_1',
 'BP1_16_2',
 'BP1_16_3',
 'BP1_16_4',
 'BP1_16_9',
 'BP1_17',
 'BP1_18',
 'BP1_19_1',
 'BP1_19_2',
 'BP1_19_3',
 'BP1_19_4',
 'BP1_19_5',
 'BP1_19_6',
 'BP1_19_7',
 'BP1_19_8',
 'BP1_20',
 'BP1_21',
 'BP1_22',
 'BP1_23',
 'BP1_24',
 'BP1_24_1',
 'BP1_24_2',
 'BP1_25',
 'BP1_25_1',
 'BP1_25_2',
 'BP1_26',
 'BP1_26_1',
 'BP1_26_2',
 'BP1_27',
 'BP1_28',
 'BP1_29',
 'BP1_2C',
 'BP1_30',
 'BP1_31_1',
 'BP1_31_2',
 'BP1_31_3',
 'BP1_31_4',
 'BP1_31_5',
 'BP1_31_6',
 'BP1_31_7',
 'BP1_31_8',
 'BP1_31_9',
 'BP1_32_1',
 'BP1_32_2',
 'BP1_32_3',
 'BP1_32_4',
 'BP1_32_5',
 'BP1_32_9',
 'BP1_33',
 'BP1_34',
 'BP1_35',
 'BP1_36_01',
 'BP1_36_02',
 'BP1_36_03',
 'BP1_36_04',
 'BP1_36_05',
 'BP1_36_06',
 'BP1_36_07',
 'BP1_36_08',
 'BP1_36_09',
 'BP1_36_10',
 'BP1_36_11',
 'BP1_36_99',
 'BP1_3C',
 'BP1_4',
 'BP1_5',
 'BP1_6',
 'BP1_7',
 'BP1_8',
 'BP1_9',
 'BP2_1',
 'BP3_1_01',
 'BP3_1_02',
 'BP3_1_03',
 'BP3_1_04',
 'BP3_1_05',
 'BP3_1_06',
 'BP3_1_07',
 'BP3_1_08',
 'BP3_1_09',
 'BP3_1_10',
 'BP3_1_11',
 'BP3_1_12',
 'BP3_1_99',
 'BP3_2',
 'BP4_1',
 'BP5_1',
 'BP5_2_1',
 'BP5_2_2',
 'BP5_2_3',
 'BP5_2_4',
 'BP5_3',
 'BP6_1',
 'BP6_2',
 'BP6_3',
 'BP7_1',
 'BPCOD',
 'CVE_ENT',
 'CVE_MUN',
 'EDAD',
 'ESTRATO',
 'SEXO']

In [103]:
df_copy.replace(to_replace='\r', value=np.NaN, inplace=True)

In [104]:
df_copy.replace({'0\r':0,
                 '1\r':1,
                 '2\r':2,
                 '3\r':3,
                 '4\r':4,
                 '5\r':5,
                 '6\r':6,
                 '7\r':7,
                 '8\r':8,
                 '9\r':9,
                 '99\r':99}, inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=float64)' and 'str'

In [105]:
df_copy.replace({'00\r':0,
                 '01\r':1,
                 '02\r':2,
                 '03\r':3,
                 '04\r':4,
                 '05\r':5,
                 '06\r':6,
                 '07\r':7,
                 '08\r':8,
                 '09\r':9,
                 '10\r':10,
                 '11\r':11,
                 '12\r':12,
                 '13\r':13,
                 '14\r':14,
                 '15\r':15,
                 '99\r':99,}, inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=float64)' and 'str'

In [81]:
l = []
bandera = np.NAN
for column in df_copy.columns:
    if df_copy[column].dtype == np.int64:
        bandera = 'entero'
    elif df_copy[column].dtype == np.float64:
        bandera = 'flotante'
    else:
        bandera = 'otro'
        
    try:
        df_copy[column]= df_copy[column].astype("int64")
    except:
        l.append(column)
        
    print('COLUMNA: ', column)
    print('TIPO: ', bandera)
    print('NUNIQUE: ', df_copy[column].nunique())
    print('UNIQUE: ', df_copy[column].unique())
    print('VALUE COUNTS ', df_copy[column].value_counts())
    print('\n')

COLUMNA:  BP1_1
TIPO:  entero
NUNIQUE:  13
UNIQUE:  [11 12  6 99 10  7  2  8  5  9  1  3  4]
VALUE COUNTS  12    741
11    595
9     455
10    439
6     439
5     396
8     372
2     347
3     321
7     301
4     275
1     262
99    155
Name: BP1_1, dtype: int64


COLUMNA:  BP1_20
TIPO:  entero
NUNIQUE:  2
UNIQUE:  [2 1]
VALUE COUNTS  2    4577
1     521
Name: BP1_20, dtype: int64


COLUMNA:  BP1_23
TIPO:  flotante
NUNIQUE:  10
UNIQUE:  [ 4.  7.  8.  3.  6. nan  9.  5.  2.  1. 99.]
VALUE COUNTS  4.0     1774
6.0      974
5.0      538
3.0      319
7.0      317
8.0      245
9.0      198
1.0      132
99.0      41
2.0       24
Name: BP1_23, dtype: int64


COLUMNA:  BP1_2C
TIPO:  entero
NUNIQUE:  17
UNIQUE:  [ 9 17 15 13 21  2  5  7  8 30 23 11 14 12 16 22 99]
VALUE COUNTS  9     4977
15      88
17       6
99       4
11       4
21       2
12       2
13       2
2        2
23       2
22       2
30       2
14       1
5        1
16       1
7        1
8        1
Name: BP1_2C, dtype: int64


COLUMNA:  BP1_30
TIPO:  entero
NUNIQUE:  2
UNIQUE:  [2 1]
VALUE COUNTS  2    4805
1     293
Name: BP1_30, dtype: int64


COLUMNA:  BP1_33
TIPO:  entero
NUNIQUE:  6
UNIQUE:  [1 5 9 2 3 4]
VALUE COUNTS  1    3400
5     972
3     597
2     103
9      13
4      13
Name: BP1_33, dtype: int64


COLUMNA:  BP1_3C
TIPO:  entero
NUNIQUE:  44
UNIQUE:  [  2   5  15   3  12  29   7   6   4  16  13  17  25  10  14  11   8  70
   9  99  57  33  37  58 104  19  18  27 999  24  97 114  39  42  81   1
  84  31  51  60 110 121 108  20]
VALUE COUNTS  7      814
5      564
15     559
10     502
3      416
14     334
12     313
2      216
17     203
8      198
16     195
6      195
13     163
4      137
11     120
9       47
999     30
33      14
104     14
57      10
58       9
25       8
99       4
31       4
70       3
81       3
24       3
19       2
1        2
39       2
60       1
18       1
20       1
51       1
84       1
114      1
108      1
27       1
42       1
110      1
29       1
37       1
121      1
97       1
Name: BP1_3C, dtype: int64


COLUMNA:  BP1_4
TIPO:  entero
NUNIQUE:  5
UNIQUE:  [3 1 2 4 9]
VALUE COUNTS  2    1598
3    1567
4     975
1     776
9     182
Name: BP1_4, dtype: int64


COLUMNA:  BP1_5
TIPO:  entero
NUNIQUE:  9
UNIQUE:  [6 1 2 4 5 9 3 8 7]
VALUE COUNTS  1    2036
2    1615
6     771
4     283
5     189
3     121
9      41
8      36
7       6
Name: BP1_5, dtype: int64


COLUMNA:  BP1_6
TIPO:  flotante
NUNIQUE:  2
UNIQUE:  [ 1. nan  2.]
VALUE COUNTS  1.0    648
2.0    276
Name: BP1_6, dtype: int64


COLUMNA:  BPCOD
TIPO:  entero
NUNIQUE:  15
UNIQUE:  [ 5  9  3  4  2  1 11  7 13  8 15 10  6 14 12]
VALUE COUNTS  5     1507
2      908
3      793
9      682
7      270
4      255
10     173
8      135
1      128
11      89
6       76
13      64
15      12
12       4
14       2
Name: BPCOD, dtype: int64


COLUMNA:  CVE_ENT
TIPO:  entero
NUNIQUE:  1
UNIQUE:  [9]
VALUE COUNTS  9    5098
Name: CVE_ENT, dtype: int64


COLUMNA:  CVE_MUN
TIPO:  entero
NUNIQUE:  16
UNIQUE:  [ 2  5 17 16  3  7 12 14 11  4 15  6 10  8  9 13]
VALUE COUNTS  7     889
5     610
10    562
3     421
15    411
14    351
12    313
8     219
2     211
17    206
16    200
6     195
13    161
11    150
4     140
9      59
Name: CVE_MUN, dtype: int64


COLUMNA:  EDAD
TIPO:  flotante
NUNIQUE:  77
UNIQUE:  [nan 30. 43. 25. 57. 45. 20. 42. 26. 58. 37. 19. 53. 39. 64. 34. 66. 80.
 60. 31. 38. 98. 55. 46. 27. 86. 49. 54. 29. 61. 35. 33. 23. 41. 36. 40.
 62. 18. 50. 59. 70. 28. 71. 21. 77. 48. 69. 47. 78. 51. 24. 72. 68. 75.
 73. 32. 56. 65. 52. 79. 44. 22. 63. 83. 85. 67. 76. 81. 84. 91. 97. 87.
 82. 74. 90. 94. 96. 88.]
VALUE COUNTS  30.0    139
35.0    122
38.0    115
43.0    112
42.0    112
45.0    110
40.0    101
48.0     99
36.0     98
50.0     95
33.0     93
46.0     90
29.0     89
32.0     86
26.0     85
39.0     84
27.0     83
23.0     81
98.0     80
28.0     80
52.0     75
21.0     72
25.0     71
34.0     71
60.0     70
53.0     68
19.0     68
54.0     68
20.0     66
37.0     64
       ...
64.0     43
67.0     41
61.0     34
59.0     32
70.0     30
69.0     26
66.0     22
71.0     20
73.0     19
72.0     18
75.0     16
74.0     11
78.0     11
80.0     10
77.0      9
76.0      9
81.0      8
79.0      7
85.0      7
83.0      6
90.0      5
84.0      5
82.0      5
86.0      3
97.0      3
91.0      2
87.0      2
88.0      1
94.0      1
96.0      1
Name: EDAD, Length: 77, dtype: int64


COLUMNA:  SEXO
TIPO:  flotante
NUNIQUE:  2
UNIQUE:  [nan  2.  1.]
VALUE COUNTS  2.0    2031
1.0    1920
Name: SEXO, dtype: int64

In [106]:
l

['BP1_23', 'BP1_6', 'EDAD', 'SEXO']

In [107]:
df_copy.BP1_3C = (df_copy.BP1_2C.astype(str) + '-' + df_copy.BP1_3C.astype(str))

In [116]:
df_copy.shape

(5098, 119)

In [110]:
df_copy.BP1_3C.unique()

array(['9-2', '9-5', '9-15', '9-3', '9-12', '17-29', '9-7', '9-6', '9-4',
       '9-16', '15-13', '9-17', '15-25', '9-10', '9-14', '9-11', '15-8',
       '9-13', '15-70', '9-8', '9-9', '15-99', '15-57', '13-3', '15-12',
       '15-33', '15-37', '15-58', '15-104', '21-19', '2-2', '2-4', '5-18',
       '7-27', '8-19', '9-999', '17-7', '30-999', '15-16', '15-24',
       '23-3', '11-17', '15-97', '21-114', '15-999', '14-39', '15-39',
       '15-42', '15-81', '11-2', '12-1', '13-84', '15-31', '15-51',
       '15-60', '15-110', '15-121', '16-108', '17-11', '17-20', '22-14',
       '23-5', '30-11', '99-999'], dtype=object)

In [115]:
df_copy.BP1_2C.unique()

AttributeError: 'DataFrame' object has no attribute 'BP1_2C'

In [113]:
df_copy.drop(columns=['BP1_2C'],axis=1, inplace=True)

In [117]:
df_copy.head()

,BP1_1,BP1_10_1,BP1_10_2,BP1_10_9,BP1_11,BP1_12_1,BP1_12_2,BP1_12_3,BP1_12_4,BP1_12_5,...,BP6_1,BP6_2,BP6_3,BP7_1,BPCOD,CVE_ENT,CVE_MUN,EDAD,ESTRATO,SEXO
0,11,1.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,5,9,2,NaN,2,NaN
1,12,1.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,5,9,2,NaN,2,NaN
2,11,1.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,5,9,2,NaN,3,NaN
3,12,1.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,5,9,2,NaN,3,NaN
4,6,1.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,5,9,2,NaN,3,NaN

In [120]:
file = "../../../../../../dataframes/envipe/TMod_Vic/df_09_concat.csv"

In [121]:
df_copy.to_csv(path_or_buf=file, index=False)