In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [25]:
file = "../../../../../dataframes/ensu/df_09_impute.csv"

In [26]:
df = pd.read_csv(file)

In [27]:
df.shape

(8718, 49)

In [28]:
df_copy = df.copy()

In [29]:
df_copy.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,BP3_1_09,BP3_1_10,BP3_1_11,BP3_1_12,BP3_1_13,BP3_1_14,BP3_1_15,BP3_1_99,BP3_2,EST
0,2,1,3,2,3,1,2,2,2,2,...,0,0,0,0,0,0,0,0,3,3
1,2,2,2,2,1,2,2,2,2,2,...,1,1,1,1,1,0,0,0,4,3
2,2,1,1,2,3,1,1,1,2,3,...,0,1,1,0,0,0,0,0,3,3
3,1,1,1,1,3,1,1,1,2,2,...,0,0,0,1,0,0,0,0,3,3
4,2,2,2,2,3,2,1,2,2,3,...,0,1,0,1,0,0,0,0,3,2

In [30]:
dataframe_to_transform = df_copy.copy()

for column in df_copy.columns:
    df = pd.DataFrame(dataframe_to_transform[column].value_counts(normalize=True, sort=False, ascending=True))
    df['cumsum']=(np.cumsum(df[column]))/2
#    print(df)
    
    if df[df.duplicated(['cumsum'], keep=False)].any() is True:
        print(df[df.duplicated(['cumsum'], keep=False)])
    else:
        dict_to_transform = df['cumsum'].to_dict()
#        print(dict_to_transform)
        dataframe_to_transform[column] = dataframe_to_transform[column].replace(dict_to_transform)
#        print(dataframe_to_transform)

In [31]:
dataframe_to_transform.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,BP3_1_09,BP3_1_10,BP3_1_11,BP3_1_12,BP3_1_13,BP3_1_14,BP3_1_15,BP3_1_99,BP3_2,EST
0,0.500000,0.360576,0.500000,0.495985,0.50000,0.175614,0.463466,0.442246,0.421943,0.451594,...,0.41443,0.080925,0.237096,0.089986,0.189378,0.483712,0.497476,0.5,0.307754,0.426818
1,0.500000,0.499943,0.352030,0.495985,0.02707,0.419420,0.463466,0.442246,0.421943,0.451594,...,0.50000,0.500000,0.500000,0.500000,0.500000,0.483712,0.497476,0.5,0.499713,0.426818
2,0.500000,0.360576,0.201766,0.495985,0.50000,0.175614,0.282920,0.124971,0.421943,0.500000,...,0.41443,0.500000,0.500000,0.089986,0.189378,0.483712,0.497476,0.5,0.307754,0.426818
3,0.064292,0.360576,0.201766,0.127208,0.50000,0.175614,0.282920,0.124971,0.421943,0.451594,...,0.41443,0.080925,0.237096,0.500000,0.189378,0.483712,0.497476,0.5,0.307754,0.426818
4,0.500000,0.499943,0.352030,0.495985,0.50000,0.419420,0.282920,0.442246,0.421943,0.500000,...,0.41443,0.500000,0.237096,0.500000,0.189378,0.483712,0.497476,0.5,0.307754,0.203659

In [32]:
df_copy = dataframe_to_transform
df_copy.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,BP3_1_09,BP3_1_10,BP3_1_11,BP3_1_12,BP3_1_13,BP3_1_14,BP3_1_15,BP3_1_99,BP3_2,EST
0,0.500000,0.360576,0.500000,0.495985,0.50000,0.175614,0.463466,0.442246,0.421943,0.451594,...,0.41443,0.080925,0.237096,0.089986,0.189378,0.483712,0.497476,0.5,0.307754,0.426818
1,0.500000,0.499943,0.352030,0.495985,0.02707,0.419420,0.463466,0.442246,0.421943,0.451594,...,0.50000,0.500000,0.500000,0.500000,0.500000,0.483712,0.497476,0.5,0.499713,0.426818
2,0.500000,0.360576,0.201766,0.495985,0.50000,0.175614,0.282920,0.124971,0.421943,0.500000,...,0.41443,0.500000,0.500000,0.089986,0.189378,0.483712,0.497476,0.5,0.307754,0.426818
3,0.064292,0.360576,0.201766,0.127208,0.50000,0.175614,0.282920,0.124971,0.421943,0.451594,...,0.41443,0.080925,0.237096,0.500000,0.189378,0.483712,0.497476,0.5,0.307754,0.426818
4,0.500000,0.499943,0.352030,0.495985,0.50000,0.419420,0.282920,0.442246,0.421943,0.500000,...,0.41443,0.500000,0.237096,0.500000,0.189378,0.483712,0.497476,0.5,0.307754,0.203659

In [33]:
list_regejos = df_copy.columns[df_copy.isnull().any()].tolist()
list_regejos

[]

In [34]:
df_copy.drop(labels=list_regejos, axis=1, inplace=True)

In [36]:
file = "../../../../../dataframes/ensu/df_09_transform.csv"

In [37]:
df_copy.to_csv(file,index = False, header = True, sep = ',', encoding = 'utf-8')