In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
file = "../../../../../dataframes/ensu/df_09_impute.csv"

In [3]:
df = pd.read_csv(file)

In [4]:
df.shape

(8718, 49)

In [5]:
df_copy = df.copy()

In [6]:
df_copy.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,BP3_1_09,BP3_1_10,BP3_1_11,BP3_1_12,BP3_1_13,BP3_1_14,BP3_1_15,BP3_1_99,BP3_2,EST
0,2,1,3,2,3,1,2,2,2,2,...,0,0,0,0,0,0,0,0,3,3
1,2,2,2,2,1,2,2,2,2,2,...,1,1,1,1,1,0,0,0,4,3
2,2,1,1,2,3,1,1,1,2,3,...,0,1,1,0,0,0,0,0,3,3
3,1,1,1,1,3,1,1,1,2,2,...,0,0,0,1,0,0,0,0,3,3
4,2,2,2,2,3,2,1,2,2,3,...,0,1,0,1,0,0,0,0,3,2

In [7]:
dataframe_to_transform = df_copy.copy()

for column in df_copy.columns:
    df = pd.DataFrame(dataframe_to_transform[column].value_counts(normalize=True, sort=False, ascending=True))
    #df['cumsum']=(np.cumsum(df[column]))/2
    df['cumsum']=np.cumsum(df[column])
#    print(df)
    
    if df[df.duplicated(['cumsum'], keep=False)].any() is True:
        print(df[df.duplicated(['cumsum'], keep=False)])
    else:
        dict_to_transform = df['cumsum'].to_dict()
#        print(dict_to_transform)
        dataframe_to_transform[column] = dataframe_to_transform[column].replace(dict_to_transform)
#        print(dataframe_to_transform)

In [8]:
dataframe_to_transform.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,BP3_1_09,BP3_1_10,BP3_1_11,BP3_1_12,BP3_1_13,BP3_1_14,BP3_1_15,BP3_1_99,BP3_2,EST
0,1.000000,0.721152,1.000000,0.991971,1.000000,0.351227,0.926933,0.884492,0.843886,0.903189,...,0.82886,0.161849,0.474191,0.179972,0.378757,0.967424,0.994953,1.0,0.615508,0.853636
1,1.000000,0.999885,0.704061,0.991971,0.054141,0.838839,0.926933,0.884492,0.843886,0.903189,...,1.00000,1.000000,1.000000,1.000000,1.000000,0.967424,0.994953,1.0,0.999426,0.853636
2,1.000000,0.721152,0.403533,0.991971,1.000000,0.351227,0.565841,0.249943,0.843886,1.000000,...,0.82886,1.000000,1.000000,0.179972,0.378757,0.967424,0.994953,1.0,0.615508,0.853636
3,0.128585,0.721152,0.403533,0.254416,1.000000,0.351227,0.565841,0.249943,0.843886,0.903189,...,0.82886,0.161849,0.474191,1.000000,0.378757,0.967424,0.994953,1.0,0.615508,0.853636
4,1.000000,0.999885,0.704061,0.991971,1.000000,0.838839,0.565841,0.884492,0.843886,1.000000,...,0.82886,1.000000,0.474191,1.000000,0.378757,0.967424,0.994953,1.0,0.615508,0.407318

In [9]:
df_copy = dataframe_to_transform
df_copy.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,BP3_1_09,BP3_1_10,BP3_1_11,BP3_1_12,BP3_1_13,BP3_1_14,BP3_1_15,BP3_1_99,BP3_2,EST
0,1.000000,0.721152,1.000000,0.991971,1.000000,0.351227,0.926933,0.884492,0.843886,0.903189,...,0.82886,0.161849,0.474191,0.179972,0.378757,0.967424,0.994953,1.0,0.615508,0.853636
1,1.000000,0.999885,0.704061,0.991971,0.054141,0.838839,0.926933,0.884492,0.843886,0.903189,...,1.00000,1.000000,1.000000,1.000000,1.000000,0.967424,0.994953,1.0,0.999426,0.853636
2,1.000000,0.721152,0.403533,0.991971,1.000000,0.351227,0.565841,0.249943,0.843886,1.000000,...,0.82886,1.000000,1.000000,0.179972,0.378757,0.967424,0.994953,1.0,0.615508,0.853636
3,0.128585,0.721152,0.403533,0.254416,1.000000,0.351227,0.565841,0.249943,0.843886,0.903189,...,0.82886,0.161849,0.474191,1.000000,0.378757,0.967424,0.994953,1.0,0.615508,0.853636
4,1.000000,0.999885,0.704061,0.991971,1.000000,0.838839,0.565841,0.884492,0.843886,1.000000,...,0.82886,1.000000,0.474191,1.000000,0.378757,0.967424,0.994953,1.0,0.615508,0.407318

In [10]:
list_regejos = df_copy.columns[df_copy.isnull().any()].tolist()
list_regejos

[]

In [11]:
df_copy.drop(labels=list_regejos, axis=1, inplace=True)

In [12]:
file = "../../../../../dataframes/ensu/df_09_transform.csv"

In [13]:
df_copy.to_csv(file,index = False, header = True, sep = ',', encoding = 'utf-8')