In [1]:
import pandas as pd

## DATAFRAME WITH `CVE_MUN`

aquí lo importantes es el `CVE_MUN`

In [2]:
file = "../../../../../../dataframes/enh/vivienda/df_09_clean.csv"

In [3]:
df_09 = pd.read_csv(file)
df_09.head(2)

,CVE_ENT,CVE_MUN,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,...,sanit_agua,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar
0,9,2,2,2,2,2,2,NaN,2,1.0,...,1.0,1,2,1,1,1,1.0,1,1,2.0
1,9,2,2,9,9,9,9,10.0,1,2.0,...,1.0,1,2,1,1,1,2.0,1,1,2.0

In [4]:
df_09_copy = df_09.copy()

In [5]:
df_09_copy.drop(labels=['CVE_ENT'], axis=1, inplace=True)

In [6]:
df_09_copy.shape

(3588, 62)

## DATAFRAME OG

aquí lo importantes es el `CVE_MUN`

In [7]:
file = "../../../../../../dataframes/enh/vivienda/df_09_impute.csv"

In [8]:
df_vect_best_entropy = pd.read_csv(file)
df_vect_best_entropy.head(2)

,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,...,sanit_agua,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar
0,2,2,2,2,2,35,2,1,0,0,...,1,1,2,1,1,1,1,1,1,2
1,2,9,9,9,9,10,1,2,0,0,...,1,1,2,1,1,1,2,1,1,2

In [9]:
df_vect_best_entropy_copy = df_vect_best_entropy.copy()

In [10]:
df_vect_best_entropy_copy.shape

(3588, 61)

Extraemos el `CVE_MUN` del data frame `df_09_copy`

In [11]:
df_09_copy[['CVE_MUN']].head(2)

   CVE_MUN
0        2
1        2

Se lo ponemos al data frame `df_vect_best_entropy_copy`

In [12]:
df_vect_best_entropy_copy['CVE_MUN'] = df_09_copy['CVE_MUN']

In [13]:
df_vect_best_entropy_copy.head(2)

,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,...,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar,CVE_MUN
0,2,2,2,2,2,35,2,1,0,0,...,1,2,1,1,1,1,1,1,2,2
1,2,9,9,9,9,10,1,2,0,0,...,1,2,1,1,1,2,1,1,2,2

## CLUSTERS

aquí lo importantes es el `cluster`

In [14]:
file = "../../../../../../dataframes/enh/vivienda/df_encoding_cluster.csv"

In [15]:
df_cluster = pd.read_csv(file)
df_cluster.head(2)

   x
0  9
1  3

In [16]:
df_vect_best_entropy_copy["cluster"] = df_cluster["x"]

In [17]:
df_vect_best_entropy_copy.head(2)

,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,...,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar,CVE_MUN,cluster
0,2,2,2,2,2,35,2,1,0,0,...,2,1,1,1,1,1,1,2,2,9
1,2,9,9,9,9,10,1,2,0,0,...,2,1,1,1,2,1,1,2,2,3

In [22]:
file = '../../../../../../dataframes/enh/vivienda/df_integration_encoding.csv'

In [23]:
df_vect_best_entropy_copy.to_csv(path_or_buf=file, index=False)

## SUMMARY

In [18]:
df_copy = df_vect_best_entropy_copy.copy()
df_copy.head(2)

,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,...,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar,CVE_MUN,cluster
0,2,2,2,2,2,35,2,1,0,0,...,2,1,1,1,1,1,1,2,2,9
1,2,9,9,9,9,10,1,2,0,0,...,2,1,1,1,2,1,1,2,2,3

In [19]:
list_numericos = ['antiguedad','cuart_dorm','bano_comp','bano_excus', 'bano_regad','focos_ahor', 'focos_inca','num_cuarto']

In [20]:
list_cat = []

for row in df_copy.columns:
    if row not in list_numericos:
#        if (row != 'ent') & (row != 'mun') & (row != 'loc'):
        if (row != 'CVE_MUN'):
#            print(row)
            list_cat.append(row)
            
list_cat

['aire_acond',
 'ais_otro',
 'ais_pared',
 'ais_techos',
 'ais_ventan',
 'auto_pick',
 'bomba_agua',
 'calefacc',
 'calent_gas',
 'calent_sol',
 'celular',
 'chimenea',
 'cisterna',
 'cocina',
 'cocina_dor',
 'combustible',
 'computador',
 'const_bano',
 'const_coci',
 'const_dorm',
 'const_neg',
 'disp_agua',
 'disp_elect',
 'dotac_agua',
 'drenaje',
 'eli_basura',
 'est_socio',
 'excusado',
 'fregadero',
 'internet',
 'lavadero',
 'mat_pared',
 'mat_pisos',
 'mat_techos',
 'medidor_luz',
 'pileta',
 'rega_elect',
 'regadera',
 'repar_agua',
 'repar_cabl',
 'repar_dren',
 'repar_pard',
 'repar_tech',
 'sanit_agua',
 'tam_loc',
 'tanque_gas',
 'tel_fijo',
 'tenencia',
 'tinaco_azo',
 'tipo_viv',
 'tot_hog',
 'tv_paga',
 'uso_compar',
 'cluster']

In [21]:
f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[list_cat].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[list_numericos].columns):
#        print(column, 'numericos')
        f[column] = 'mean'
    
f

{'aire_acond': <function __main__.<lambda>(x)>,
 'ais_otro': <function __main__.<lambda>(x)>,
 'ais_pared': <function __main__.<lambda>(x)>,
 'ais_techos': <function __main__.<lambda>(x)>,
 'ais_ventan': <function __main__.<lambda>(x)>,
 'antiguedad': 'mean',
 'auto_pick': <function __main__.<lambda>(x)>,
 'bano_comp': 'mean',
 'bano_excus': 'mean',
 'bano_regad': 'mean',
 'bomba_agua': <function __main__.<lambda>(x)>,
 'calefacc': <function __main__.<lambda>(x)>,
 'calent_gas': <function __main__.<lambda>(x)>,
 'calent_sol': <function __main__.<lambda>(x)>,
 'celular': <function __main__.<lambda>(x)>,
 'chimenea': <function __main__.<lambda>(x)>,
 'cisterna': <function __main__.<lambda>(x)>,
 'cocina': <function __main__.<lambda>(x)>,
 'cocina_dor': <function __main__.<lambda>(x)>,
 'combustible': <function __main__.<lambda>(x)>,
 'computador': <function __main__.<lambda>(x)>,
 'const_bano': <function __main__.<lambda>(x)>,
 'const_coci': <function __main__.<lambda>(x)>,
 'const_dorm': <function __main__.<lambda>(x)>,
 'const_neg': <function __main__.<lambda>(x)>,
 'cuart_dorm': 'mean',
 'disp_agua': <function __main__.<lambda>(x)>,
 'disp_elect': <function __main__.<lambda>(x)>,
 'dotac_agua': <function __main__.<lambda>(x)>,
 'drenaje': <function __main__.<lambda>(x)>,
 'eli_basura': <function __main__.<lambda>(x)>,
 'est_socio': <function __main__.<lambda>(x)>,
 'excusado': <function __main__.<lambda>(x)>,
 'focos_ahor': 'mean',
 'focos_inca': 'mean',
 'fregadero': <function __main__.<lambda>(x)>,
 'internet': <function __main__.<lambda>(x)>,
 'lavadero': <function __main__.<lambda>(x)>,
 'mat_pared': <function __main__.<lambda>(x)>,
 'mat_pisos': <function __main__.<lambda>(x)>,
 'mat_techos': <function __main__.<lambda>(x)>,
 'medidor_luz': <function __main__.<lambda>(x)>,
 'num_cuarto': 'mean',
 'pileta': <function __main__.<lambda>(x)>,
 'rega_elect': <function __main__.<lambda>(x)>,
 'regadera': <function __main__.<lambda>(x)>,
 'repar_agua': <function __main__.<lambda>(x)>,
 'repar_cabl': <function __main__.<lambda>(x)>,
 'repar_dren': <function __main__.<lambda>(x)>,
 'repar_pard': <function __main__.<lambda>(x)>,
 'repar_tech': <function __main__.<lambda>(x)>,
 'sanit_agua': <function __main__.<lambda>(x)>,
 'tam_loc': <function __main__.<lambda>(x)>,
 'tanque_gas': <function __main__.<lambda>(x)>,
 'tel_fijo': <function __main__.<lambda>(x)>,
 'tenencia': <function __main__.<lambda>(x)>,
 'tinaco_azo': <function __main__.<lambda>(x)>,
 'tipo_viv': <function __main__.<lambda>(x)>,
 'tot_hog': <function __main__.<lambda>(x)>,
 'tv_paga': <function __main__.<lambda>(x)>,
 'uso_compar': <function __main__.<lambda>(x)>,
 'cluster': <function __main__.<lambda>(x)>}

In [22]:
grouped = pd.DataFrame(df_copy.groupby(by=['CVE_MUN']).agg(f))
grouped.reset_index(inplace=True)
grouped

,CVE_MUN,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,...,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar,cluster
0,2,2,2,2,2,2,34.569231,2,1.041026,0.256410,...,1,2,1,4,1,1,1,1,2,3
1,3,2,2,2,2,2,30.089219,2,1.371747,0.412639,...,1,2,1,4,1,1,1,1,2,4
2,4,2,2,2,2,2,23.972603,1,1.383562,0.383562,...,1,2,1,4,1,1,1,1,2,2
3,5,2,2,2,2,2,32.303398,2,1.080097,0.298544,...,1,2,1,4,1,1,1,1,2,4
4,6,2,2,2,2,2,32.720497,2,1.062112,0.248447,...,1,2,1,4,1,1,1,1,2,4
5,7,2,2,2,2,2,24.519672,2,0.973770,0.372131,...,1,2,1,4,1,1,1,1,2,4
6,8,2,2,2,2,2,27.902439,2,1.268293,0.426829,...,1,2,1,4,1,1,1,1,2,2
7,9,2,2,2,2,2,16.355932,2,0.559322,0.610169,...,4,2,2,4,1,1,1,1,2,10
8,10,2,2,2,2,2,29.561594,1,1.547101,0.463768,...,1,2,1,4,1,1,1,1,2,2
9,11,2,2,2,2,2,22.047904,2,0.976048,0.341317,...,1,2,1,4,1,1,1,1,2,2
10,12,2,2,2,2,2,22.858108,2,1.094595,0.560811,...,1,2,1,4,1,1,1,1,2,4
11,13,2,2,2,2,2,21.340278,2,0.840278,0.493056,...,1,2,1,4,1,1,1,1,2,8
12,14,2,2,2,2,2,33.752632,1,1.563158,0.210526,...,1,2,1,4,1,2,1,1,2,1
13,15,2,2,2,2,2,37.803625,2,1.132931,0.111782,...,1,2,1,4,1,2,1,1,2,1
14,16,2,2,2,2,2,38.184000,1,1.624000,0.312000,...,1,2,1,1,1,2,1,1,2,1
15,17,2,2,2,2,2,39.560606,2,1.065657,0.156566,...,1,2,1,4,1,1,1,1,2,9

In [23]:
grouped[["CVE_MUN", "cluster"]]

    CVE_MUN  cluster
0         2        3
1         3        4
2         4        2
3         5        4
4         6        4
5         7        4
6         8        2
7         9       10
8        10        2
9        11        2
10       12        4
11       13        8
12       14        1
13       15        1
14       16        1
15       17        9

# POR CLUSTER

In [32]:
list_numericos = ['antiguedad','cuart_dorm','bano_comp','bano_excus', 'bano_regad','focos_ahor', 'focos_inca','num_cuarto']

In [36]:
list_cat = []

for row in df_copy.columns:
    if row not in list_numericos:
#        if (row != 'ent') & (row != 'mun') & (row != 'loc'):
        if (row != 'CVE_MUN') & (row != 'cluster'):
#            print(row)
            list_cat.append(row)
            
list_cat

['aire_acond',
 'ais_otro',
 'ais_pared',
 'ais_techos',
 'ais_ventan',
 'auto_pick',
 'bomba_agua',
 'calefacc',
 'calent_gas',
 'calent_sol',
 'celular',
 'chimenea',
 'cisterna',
 'cocina',
 'cocina_dor',
 'combustible',
 'computador',
 'const_bano',
 'const_coci',
 'const_dorm',
 'const_neg',
 'disp_agua',
 'disp_elect',
 'dotac_agua',
 'drenaje',
 'eli_basura',
 'est_socio',
 'excusado',
 'fregadero',
 'internet',
 'lavadero',
 'mat_pared',
 'mat_pisos',
 'mat_techos',
 'medidor_luz',
 'pileta',
 'rega_elect',
 'regadera',
 'repar_agua',
 'repar_cabl',
 'repar_dren',
 'repar_pard',
 'repar_tech',
 'sanit_agua',
 'tam_loc',
 'tanque_gas',
 'tel_fijo',
 'tenencia',
 'tinaco_azo',
 'tipo_viv',
 'tot_hog',
 'tv_paga',
 'uso_compar']

In [39]:
f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[list_cat].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[list_numericos].columns):
#        print(column, 'numericos')
        f[column] = 'median'
    
f

{'aire_acond': <function __main__.<lambda>(x)>,
 'ais_otro': <function __main__.<lambda>(x)>,
 'ais_pared': <function __main__.<lambda>(x)>,
 'ais_techos': <function __main__.<lambda>(x)>,
 'ais_ventan': <function __main__.<lambda>(x)>,
 'antiguedad': 'median',
 'auto_pick': <function __main__.<lambda>(x)>,
 'bano_comp': 'median',
 'bano_excus': 'median',
 'bano_regad': 'median',
 'bomba_agua': <function __main__.<lambda>(x)>,
 'calefacc': <function __main__.<lambda>(x)>,
 'calent_gas': <function __main__.<lambda>(x)>,
 'calent_sol': <function __main__.<lambda>(x)>,
 'celular': <function __main__.<lambda>(x)>,
 'chimenea': <function __main__.<lambda>(x)>,
 'cisterna': <function __main__.<lambda>(x)>,
 'cocina': <function __main__.<lambda>(x)>,
 'cocina_dor': <function __main__.<lambda>(x)>,
 'combustible': <function __main__.<lambda>(x)>,
 'computador': <function __main__.<lambda>(x)>,
 'const_bano': <function __main__.<lambda>(x)>,
 'const_coci': <function __main__.<lambda>(x)>,
 'const_dorm': <function __main__.<lambda>(x)>,
 'const_neg': <function __main__.<lambda>(x)>,
 'cuart_dorm': 'median',
 'disp_agua': <function __main__.<lambda>(x)>,
 'disp_elect': <function __main__.<lambda>(x)>,
 'dotac_agua': <function __main__.<lambda>(x)>,
 'drenaje': <function __main__.<lambda>(x)>,
 'eli_basura': <function __main__.<lambda>(x)>,
 'est_socio': <function __main__.<lambda>(x)>,
 'excusado': <function __main__.<lambda>(x)>,
 'focos_ahor': 'median',
 'focos_inca': 'median',
 'fregadero': <function __main__.<lambda>(x)>,
 'internet': <function __main__.<lambda>(x)>,
 'lavadero': <function __main__.<lambda>(x)>,
 'mat_pared': <function __main__.<lambda>(x)>,
 'mat_pisos': <function __main__.<lambda>(x)>,
 'mat_techos': <function __main__.<lambda>(x)>,
 'medidor_luz': <function __main__.<lambda>(x)>,
 'num_cuarto': 'median',
 'pileta': <function __main__.<lambda>(x)>,
 'rega_elect': <function __main__.<lambda>(x)>,
 'regadera': <function __main__.<lambda>(x)>,
 'repar_agua': <function __main__.<lambda>(x)>,
 'repar_cabl': <function __main__.<lambda>(x)>,
 'repar_dren': <function __main__.<lambda>(x)>,
 'repar_pard': <function __main__.<lambda>(x)>,
 'repar_tech': <function __main__.<lambda>(x)>,
 'sanit_agua': <function __main__.<lambda>(x)>,
 'tam_loc': <function __main__.<lambda>(x)>,
 'tanque_gas': <function __main__.<lambda>(x)>,
 'tel_fijo': <function __main__.<lambda>(x)>,
 'tenencia': <function __main__.<lambda>(x)>,
 'tinaco_azo': <function __main__.<lambda>(x)>,
 'tipo_viv': <function __main__.<lambda>(x)>,
 'tot_hog': <function __main__.<lambda>(x)>,
 'tv_paga': <function __main__.<lambda>(x)>,
 'uso_compar': <function __main__.<lambda>(x)>}

In [41]:
pd.set_option('display.max_columns', 500)

In [42]:
grouped = pd.DataFrame(df_copy.groupby(by=['cluster']).agg(f))
grouped.reset_index(inplace=True)
grouped

,cluster,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,bomba_agua,calefacc,calent_gas,calent_sol,celular,chimenea,cisterna,cocina,cocina_dor,combustible,computador,const_bano,const_coci,const_dorm,const_neg,cuart_dorm,disp_agua,disp_elect,dotac_agua,drenaje,eli_basura,est_socio,excusado,focos_ahor,focos_inca,fregadero,internet,lavadero,mat_pared,mat_pisos,mat_techos,medidor_luz,num_cuarto,pileta,rega_elect,regadera,repar_agua,repar_cabl,repar_dren,repar_pard,repar_tech,sanit_agua,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar
0,1,2,2,2,2,2,25.0,1,1,0,0,1,2,1,2,1,2,1,1,2,3,1,2,2,2,2,2,1,1,1,1,1,3,1,7.5,0,1,1,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,1,1,1,1,2,1,1,2
1,2,2,2,2,2,2,28.0,1,1,0,0,2,2,1,2,1,2,2,1,2,3,1,2,2,2,2,2,1,1,1,1,1,2,1,6.0,0,1,1,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,2,1,4,1,1,1,1,2
2,3,2,2,2,2,2,32.0,1,1,0,0,1,2,1,2,1,2,1,1,2,4,1,2,2,2,2,2,1,1,1,1,1,3,1,8.0,0,1,1,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,2,1,4,1,2,1,1,2
3,4,2,2,2,2,2,30.0,1,2,0,0,1,2,1,2,1,2,1,1,2,3,1,2,2,2,2,3,1,1,1,1,1,3,1,10.0,0,1,1,1,8,3,9,1,5,1,2,1,2,2,2,2,2,1,1,1,1,4,1,1,1,1,2
4,5,2,2,2,2,2,27.0,2,1,0,0,2,2,1,2,1,2,2,1,2,3,2,2,2,2,2,2,1,1,1,1,1,2,1,5.0,0,1,2,1,8,2,9,1,4,2,2,1,2,2,2,2,2,1,1,2,2,4,1,1,1,2,2
5,6,2,2,2,2,2,25.5,2,1,0,0,1,2,1,2,1,2,2,1,2,3,2,1,1,1,2,2,1,1,1,1,1,2,1,4.0,0,2,2,1,8,2,9,1,3,1,2,1,2,2,2,1,1,1,1,2,1,2,1,1,1,1,2
6,7,2,2,2,2,2,34.5,2,1,0,0,1,2,1,2,1,2,1,1,2,3,1,2,2,2,2,2,1,1,1,1,1,3,1,6.0,0,1,1,1,8,3,9,1,4,1,2,1,1,2,2,1,1,1,1,2,1,4,1,1,1,1,2
7,8,2,2,2,2,2,19.0,2,0,1,0,2,2,2,2,1,2,2,1,1,3,2,1,1,1,1,1,2,1,1,1,1,2,1,2.0,0,2,2,1,8,2,9,1,2,1,2,2,2,2,2,1,1,2,1,2,2,2,2,1,1,2,2
8,9,2,2,2,2,2,30.0,2,1,0,0,1,2,1,2,1,2,1,1,2,3,2,2,2,2,2,2,1,1,1,1,1,3,1,5.0,0,1,2,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,2,2,1,1,2,1,1,2
9,10,2,2,2,2,2,22.0,2,0,1,0,2,2,2,2,1,2,2,1,2,3,2,2,2,2,2,1,2,1,1,1,1,2,1,3.0,0,2,2,1,8,2,9,1,3,1,2,2,2,2,2,2,2,2,1,2,2,2,2,1,1,1,2

In [45]:
grouped.iloc[[0, 1, 2, 3, 7, 8, 9]]

,cluster,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,bomba_agua,calefacc,calent_gas,calent_sol,celular,chimenea,cisterna,cocina,cocina_dor,combustible,computador,const_bano,const_coci,const_dorm,const_neg,cuart_dorm,disp_agua,disp_elect,dotac_agua,drenaje,eli_basura,est_socio,excusado,focos_ahor,focos_inca,fregadero,internet,lavadero,mat_pared,mat_pisos,mat_techos,medidor_luz,num_cuarto,pileta,rega_elect,regadera,repar_agua,repar_cabl,repar_dren,repar_pard,repar_tech,sanit_agua,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar
0,1,2,2,2,2,2,25.0,1,1,0,0,1,2,1,2,1,2,1,1,2,3,1,2,2,2,2,2,1,1,1,1,1,3,1,7.5,0,1,1,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,1,1,1,1,2,1,1,2
1,2,2,2,2,2,2,28.0,1,1,0,0,2,2,1,2,1,2,2,1,2,3,1,2,2,2,2,2,1,1,1,1,1,2,1,6.0,0,1,1,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,2,1,4,1,1,1,1,2
2,3,2,2,2,2,2,32.0,1,1,0,0,1,2,1,2,1,2,1,1,2,4,1,2,2,2,2,2,1,1,1,1,1,3,1,8.0,0,1,1,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,2,1,4,1,2,1,1,2
3,4,2,2,2,2,2,30.0,1,2,0,0,1,2,1,2,1,2,1,1,2,3,1,2,2,2,2,3,1,1,1,1,1,3,1,10.0,0,1,1,1,8,3,9,1,5,1,2,1,2,2,2,2,2,1,1,1,1,4,1,1,1,1,2
7,8,2,2,2,2,2,19.0,2,0,1,0,2,2,2,2,1,2,2,1,1,3,2,1,1,1,1,1,2,1,1,1,1,2,1,2.0,0,2,2,1,8,2,9,1,2,1,2,2,2,2,2,1,1,2,1,2,2,2,2,1,1,2,2
8,9,2,2,2,2,2,30.0,2,1,0,0,1,2,1,2,1,2,1,1,2,3,2,2,2,2,2,2,1,1,1,1,1,3,1,5.0,0,1,2,1,8,3,9,1,4,1,2,1,2,2,2,2,2,1,1,2,2,1,1,2,1,1,2
9,10,2,2,2,2,2,22.0,2,0,1,0,2,2,2,2,1,2,2,1,2,3,2,2,2,2,2,1,2,1,1,1,1,2,1,3.0,0,2,2,1,8,2,9,1,3,1,2,2,2,2,2,2,2,2,1,2,2,2,2,1,1,1,2

In [49]:
for column in grouped.columns:
    print(column)
    print(grouped[column].nunique())
    print(grouped[column].unique())
    print(grouped[column].value_counts())

cluster
4
[1 2 3 4]
4    1
3    1
2    1
1    1
Name: cluster, dtype: int64
num_trab_d
1
[0]
0    4
Name: num_trab_d, dtype: int64
acc_alim1
2
[2 1]
2    3
1    1
Name: acc_alim1, dtype: int64
acc_alim2
1
[2]
2    4
Name: acc_alim2, dtype: int64
acc_alim3
2
[2 1]
2    3
1    1
Name: acc_alim3, dtype: int64
acc_alim4
2
[2 1]
2    3
1    1
Name: acc_alim4, dtype: int64
acc_alim5
1
[2]
2    4
Name: acc_alim5, dtype: int64
acc_alim6
2
[2 1]
2    3
1    1
Name: acc_alim6, dtype: int64
alim17_1
1
[7]
7    4
Name: alim17_1, dtype: int64
alim17_2
2
[1 2]
1    3
2    1
Name: alim17_2, dtype: int64
alim17_3
1
[7]
7    4
Name: alim17_3, dtype: int64
alim17_4
2
[7 2]
7    3
2    1
Name: alim17_4, dtype: int64
alim17_5
3
[2 7 3]
2    2
7    1
3    1
Name: alim17_5, dtype: int64
alim17_6
2
[2 3]
3    2
2    2
Name: alim17_6, dtype: int64
alim17_7
2
[0 1]
1    2
0    2
Name: alim17_7, dtype: int64
alim17_8
1
[7]
7    4
Name: alim17_8, dtype: int64
alim17_9
1
[7]
7    4
Name: alim17_9, dtype: int64
alim17_10
1
[7]
7    4
Name: alim17_10, dtype: int64
alim17_11
1
[7]
7    4
Name: alim17_11, dtype: int64
alim17_12
1
[7]
7    4
Name: alim17_12, dtype: int64
acc_alim18
1
[1]
1    4
Name: acc_alim18, dtype: int64
telefono
2
[2 1]
2    2
1    2
Name: telefono, dtype: int64
celular
1
[1]
1    4
Name: celular, dtype: int64
tv_paga
2
[2 1]
2    2
1    2
Name: tv_paga, dtype: int64
conex_inte
2
[2 1]
2    2
1    2
Name: conex_inte, dtype: int64
num_auto
2
[0 1]
0    3
1    1
Name: num_auto, dtype: int64
num_van
1
[0]
0    4
Name: num_van, dtype: int64
num_pickup
1
[0]
0    4
Name: num_pickup, dtype: int64
num_moto
1
[0]
0    4
Name: num_moto, dtype: int64
num_bici
1
[0]
0    4
Name: num_bici, dtype: int64
num_trici
1
[0]
0    4
Name: num_trici, dtype: int64
num_otro
1
[0]
0    4
Name: num_otro, dtype: int64
num_ester
2
[0 1]
1    2
0    2
Name: num_ester, dtype: int64
num_grab
1
[0]
0    4
Name: num_grab, dtype: int64
num_radio
1
[0]
0    4
Name: num_radio, dtype: int64
num_tva
1
[0]
0    4
Name: num_tva, dtype: int64
num_tvd
1
[1]
1    4
Name: num_tvd, dtype: int64
anio_tvd
4
[14.225      13.08591065 13.34375    13.29963899]
13.085911    1
13.299639    1
14.225000    1
13.343750    1
Name: anio_tvd, dtype: int64
num_dvd
2
[0 1]
1    2
0    2
Name: num_dvd, dtype: int64
num_video
1
[0]
0    4
Name: num_video, dtype: int64
num_licua
1
[1]
1    4
Name: num_licua, dtype: int64
anio_licua
4
[18.74772727 18.58419244 16.70535714 18.89891697]
18.898917    1
18.584192    1
18.747727    1
16.705357    1
Name: anio_licua, dtype: int64
num_tosta
2
[0 1]
0    3
1    1
Name: num_tosta, dtype: int64
num_micro
2
[0 1]
1    2
0    2
Name: num_micro, dtype: int64
num_refri
1
[1]
1    4
Name: num_refri, dtype: int64
anio_refri
4
[20.2        21.65979381 16.14508929 18.8465704 ]
21.659794    1
18.846570    1
20.200000    1
16.145089    1
Name: anio_refri, dtype: int64
num_estuf
1
[1]
1    4
Name: num_estuf, dtype: int64
anio_estuf
4
[22.475      26.50515464 19.83705357 25.8465704 ]
22.475000    1
25.846570    1
19.837054    1
26.505155    1
Name: anio_estuf, dtype: int64
num_lavad
1
[1]
1    4
Name: num_lavad, dtype: int64
anio_lavad
4
[18.47727273 13.95532646 14.64508929 15.63718412]
13.955326    1
18.477273    1
14.645089    1
15.637184    1
Name: anio_lavad, dtype: int64
num_planc
1
[1]
1    4
Name: num_planc, dtype: int64
anio_planc
4
[18.15909091 16.6975945  14.84821429 14.57220217]
14.572202    1
18.159091    1
16.697595    1
14.848214    1
Name: anio_planc, dtype: int64
num_maqui
1
[0]
0    4
Name: num_maqui, dtype: int64
num_venti
1
[0]
0    4
Name: num_venti, dtype: int64
num_aspir
1
[0]
0    4
Name: num_aspir, dtype: int64
num_compu
2
[0 1]
1    2
0    2
Name: num_compu, dtype: int64
num_impre
2
[0 1]
0    3
1    1
Name: num_impre, dtype: int64
num_juego
1
[0]
0    4
Name: num_juego, dtype: int64
esc_radio
1
[1]
1    4
Name: esc_radio, dtype: int64
tsalud1_h
4
[0.275      0.45017182 0.11607143 0.20577617]
0.450172    1
0.116071    1
0.275000    1
0.205776    1
Name: tsalud1_h, dtype: int64
tsalud1_m
4
[22.01818182 20.14776632 19.61160714 21.19133574]
22.018182    1
20.147766    1
21.191336    1
19.611607    1
Name: tsalud1_m, dtype: int64
tarjeta
2
[2 1]
2    3
1    1
Name: tarjeta, dtype: int64
pagotarjet
2
[2 1]
2    3
1    1
Name: pagotarjet, dtype: int64
regalotar
1
[2]
2    4
Name: regalotar, dtype: int64
regalodado
1
[2]
2    4
Name: regalodado, dtype: int64
autocons
1
[2]
2    4
Name: autocons, dtype: int64
regalos
2
[1 2]
1    3
2    1
Name: regalos, dtype: int64
remunera
1
[2]
2    4
Name: remunera, dtype: int64
transferen
1
[2]
2    4
Name: transferen, dtype: int64
parto_g
1
[2]
2    4
Name: parto_g, dtype: int64
embarazo_g
1
[2]
2    4
Name: embarazo_g, dtype: int64
negcua
1
[2]
2    4
Name: negcua, dtype: int64
est_alim
4
[2841.92727273 3027.50859107 5571.69642857 3931.20036101]
2841.927273    1
3027.508591    1
3931.200361    1
5571.696429    1
Name: est_alim, dtype: int64
est_trans
4
[500.44545455 680.12714777 512.890625   739.82490975]
500.445455    1
680.127148    1
739.824910    1
512.890625    1
Name: est_trans, dtype: int64
bene_licon
1
[2]
2    4
Name: bene_licon, dtype: int64
diconsa
1
[2]
2    4
Name: diconsa, dtype: int64