In [1]:
import pandas as pd

In [5]:
file = "../../../../dataframes/faostat/production_indices/production_indices_entropy_transform_numerical_kmeans.csv"

In [6]:
df_k = pd.read_csv(filepath_or_buffer=file)

In [7]:
df_k.head()

   kmeans$cluster
0               2
1               2
2               2
3               2
4               2

In [29]:
df_k["kmeans$cluster"].value_counts()

2    8820
3    8604
1    8509
4    8483
Name: kmeans$cluster, dtype: int64

In [10]:
file = "../../../../data/faostat/FAOSTAT_data_3-8-2019.csv"

In [11]:
df = pd.read_csv(filepath_or_buffer=file)

In [12]:
df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2010,2010,Int. $,116.22,Fc,Calculated data
1,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2011,2011,Int. $,111.08,Fc,Calculated data
2,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2012,2012,Int. $,122.45,Fc,Calculated data
3,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2013,2013,Int. $,119.90,Fc,Calculated data
4,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2014,2014,Int. $,124.13,Fc,Calculated data

In [31]:
df.Item.value_counts()

Agriculture (PIN)    6032
Food (PIN)           6032
Livestock (PIN)      6004
Crops (PIN)          5944
Non Food (PIN)       5244
Cereals,Total        5160
Name: Item, dtype: int64

In [13]:
df['cluster'] = df_k['kmeans$cluster']

In [14]:
df_copy = df.copy()

In [32]:
numericos = ["Value"]

In [36]:
categoricos = ["cluster"]

In [34]:
f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[categoricos].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[numericos].columns):
#        print(column, 'numericos')
        f[column] = 'mean'
    
f

{'Value': 'mean', 'cluster': <function __main__.<lambda>(x)>}

In [35]:
grouped = df_copy.groupby(by=["cluster"]).agg(f)
grouped

              Value  cluster
cluster
1        113.806968        1
2        105.920277        2
3        112.797411        3
4        103.771629        4

In [37]:
grouped = df_copy.groupby(by=["Area"]).agg(f)
grouped

                                         Value  cluster
Area
Afghanistan                         109.010298        2
Albania                             134.399524        2
Algeria                             127.182381        2
American Samoa                      113.920714        2
Angola                              145.172381        2
Antigua and Barbuda                  83.932619        2
Argentina                           117.611131        3
Armenia                             137.243750        2
Australia                            99.406310        3
Austria                              94.276548        3
Azerbaijan                          114.735833        4
Bahamas                             121.158214        3
Bahrain                             158.761964        3
Bangladesh                          131.588869        3
Barbados                             84.871357        3
Belarus                             121.964524        1
Belgium                              98.983929        1
Belize                               94.014107        4
Benin                               119.442440        4
Bermuda                             114.037321        4
Bhutan                               92.605893        4
Bolivia (Plurinational State of)    124.857381        4
Bosnia and Herzegovina               99.914107        4
Botswana                            105.145476        4
Brazil                              125.302798        4
British Virgin Islands               95.831786        3
Brunei Darussalam                   139.170595        1
Bulgaria                            107.787857        1
Burkina Faso                        105.114762        3
Burundi                              90.410060        1
...                                        ...      ...
Switzerland                          98.841726        4
Syrian Arab Republic                 72.204583        4
Tajikistan                          123.366131        4
Thailand                            121.226964        1
Timor-Leste                         106.878690        4
Togo                                118.579940        1
Tokelau                             109.498125        1
Tonga                               120.998500        1
Trinidad and Tobago                  89.272143        1
Tunisia                             104.632500        1
Turkey                              111.633452        1
Turkmenistan                         84.879524        4
Tuvalu                              103.373661        2
Uganda                               97.145952        2
Ukraine                             133.854167        2
United Arab Emirates                 74.593393        2
United Kingdom                       99.767381        2
United Republic of Tanzania         134.391369        1
United States Virgin Islands        110.050714        4
United States of America            101.250476        2
Uruguay                             122.907976        3
Uzbekistan                          126.670774        3
Vanuatu                             125.986429        1
Venezuela (Bolivarian Republic of)   98.261607        3
Viet Nam                            130.939226        3
Wallis and Futuna Islands           115.825857        4
Western Sahara                       94.680571        3
Yemen                               121.698095        1
Zambia                              168.593988        1
Zimbabwe                             91.884881        4

[217 rows x 2 columns]

In [38]:
grouped[grouped.cluster == 1]

                                       Value  cluster
Area
Belarus                           121.964524        1
Belgium                            98.983929        1
Brunei Darussalam                 139.170595        1
Bulgaria                          107.787857        1
Burundi                            90.410060        1
China                             122.992917        1
Democratic Republic of the Congo   94.262619        1
Dominican Republic                114.178810        1
Ecuador                           106.234583        1
Egypt                              97.836071        1
El Salvador                       101.873631        1
Equatorial Guinea                  93.332571        1
Estonia                           142.506310        1
Guam                              104.427571        1
Guatemala                         126.748393        1
Guinea                            119.613988        1
Guyana                            121.019702        1
Haiti                             131.182143        1
Honduras                          114.708690        1
Lao People's Democratic Republic  168.163929        1
Lebanon                            81.415298        1
Lesotho                           100.048929        1
Liberia                           110.230298        1
Libya                             111.837321        1
Liechtenstein                      98.734107        1
Lithuania                         127.148571        1
Marshall Islands                  108.213571        1
Myanmar                           140.390833        1
New Caledonia                      82.686905        1
New Zealand                       108.993155        1
Nicaragua                         119.087500        1
Niger                             121.359286        1
Nigeria                            93.735298        1
North Macedonia                   107.706964        1
Oman                               94.260000        1
Russian Federation                131.849048        1
Rwanda                            139.919345        1
Saint Kitts and Nevis              60.226286        1
Saint Lucia                        79.393929        1
Saint Pierre and Miquelon         111.874643        1
Saint Vincent and the Grenadines  105.925833        1
Solomon Islands                   101.414345        1
Thailand                          121.226964        1
Togo                              118.579940        1
Tokelau                           109.498125        1
Tonga                             120.998500        1
Trinidad and Tobago                89.272143        1
Tunisia                           104.632500        1
Turkey                            111.633452        1
United Republic of Tanzania       134.391369        1
Vanuatu                           125.986429        1
Yemen                             121.698095        1
Zambia                            168.593988        1

In [39]:
grouped[grouped.cluster == 2]

                                  Value  cluster
Area
Afghanistan                  109.010298        2
Albania                      134.399524        2
Algeria                      127.182381        2
American Samoa               113.920714        2
Angola                       145.172381        2
Antigua and Barbuda           83.932619        2
Armenia                      137.243750        2
Cabo Verde                   126.803631        2
Cameroon                     130.842321        2
Canada                        98.636012        2
Cayman Islands                94.598036        2
Central African Republic     124.332917        2
Chad                         115.054762        2
China, Hong Kong SAR          86.259857        2
China, Macao SAR              85.503125        2
Croatia                      109.765357        2
Czechia                       86.608452        2
Falkland Islands (Malvinas)   98.569464        2
Faroe Islands                101.244464        2
Fiji                          89.821012        2
Finland                       95.646488        2
France                        96.187083        2
French Guiana                 97.290429        2
French Polynesia             106.244071        2
Hungary                       87.619702        2
Iceland                      104.015429        2
India                        130.165833        2
Indonesia                    126.140893        2
Iran (Islamic Republic of)    96.048274        2
Iraq                         101.655952        2
Luxembourg                    78.810714        2
Madagascar                   104.935357        2
Malawi                       152.076964        2
Malaysia                     103.909345        2
Maldives                      82.443429        2
Mali                         131.437560        2
Malta                        100.053571        2
Martinique                    82.247357        2
Niue                         101.954464        2
Norway                        93.501548        2
Pakistan                     109.816429        2
Panama                        97.923393        2
Sao Tome and Principe         79.942738        2
Saudi Arabia                  81.756369        2
Senegal                      115.438750        2
Seychelles                    82.412714        2
Sierra Leone                 152.046488        2
Slovakia                      87.198512        2
Slovenia                      90.974702        2
Sri Lanka                    121.907381        2
Tuvalu                       103.373661        2
Uganda                        97.145952        2
Ukraine                      133.854167        2
United Arab Emirates          74.593393        2
United Kingdom                99.767381        2
United States of America     101.250476        2

In [40]:
grouped[grouped.cluster == 3]

                                         Value  cluster
Area
Argentina                           117.611131        3
Australia                            99.406310        3
Austria                              94.276548        3
Bahamas                             121.158214        3
Bahrain                             158.761964        3
Bangladesh                          131.588869        3
Barbados                             84.871357        3
British Virgin Islands               95.831786        3
Burkina Faso                        105.114762        3
Chile                               109.363036        3
China, mainland                     123.270536        3
Colombia                            100.751190        3
Comoros                             105.832619        3
Congo                               117.021845        3
Cook Islands                        113.752643        3
Costa Rica                          109.641726        3
Côte d'Ivoire                       120.217321        3
Djibouti                            126.167286        3
Ethiopia                            142.300952        3
Gabon                               114.955060        3
Gambia                               95.126012        3
Georgia                              70.330833        3
Germany                             106.266667        3
Guinea-Bissau                       115.466131        3
Ireland                             102.109583        3
Israel                               93.465119        3
Italy                                91.202619        3
Jamaica                             107.022500        3
Japan                                91.204524        3
Kazakhstan                          119.844226        3
Mauritania                          133.706500        3
Mauritius                           142.034881        3
Mexico                              108.073631        3
Mongolia                            177.289405        3
Montserrat                          106.349286        3
Morocco                             117.478512        3
Occupied Palestinian Territory       70.112798        3
Papua New Guinea                    109.470298        3
Paraguay                            145.617440        3
Peru                                128.393155        3
Philippines                         110.421250        3
Poland                              108.133929        3
Portugal                            103.291310        3
Singapore                           143.151714        3
Somalia                              92.556071        3
South Africa                        106.506667        3
Spain                                98.557679        3
Sudan (former)                       85.853125        3
Suriname                            134.497798        3
Uruguay                             122.907976        3
Uzbekistan                          126.670774        3
Venezuela (Bolivarian Republic of)   98.261607        3
Viet Nam                            130.939226        3
Western Sahara                       94.680571        3