In [1]:
import pandas as pd

In [38]:
file = '../../../data/pgj-cdmx/PLAGIO_O_SECUESTRO.csv'

In [54]:
df = pd.read_csv(file)

In [55]:
df_copy = df.copy()

In [56]:
df_copy.head()

,ID,Año,Mes,Alcaldía,Categoría de delito,Delito,Agencia,Unidad de investigación,Fecha inicio,Fiscalía,Calle1,Calle2,Colonia,Latitud,Longitud,Mes y año,Geopoint
0,5297,2017,Mayo,GUSTAVO A MADERO,SECUESTRO,PLAGIO O SECUESTRO,E,UI-1CD,2017-05-11T05:36:27-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,MANTA,NaN,LINDAVISTA,19.491553,-99.135001,2017-05,"19.4915532042, -99.1350011476"
1,5435,2016,Julio,CUAUHTEMOC,SECUESTRO,PLAGIO O SECUESTRO,E,UI-3CD,2016-07-05T06:54:22-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,PROLONGACION VALLEGO,NaN,SAN SIMÓN TOLNAHUAC,19.459304,-99.139653,2016-07,"19.4593044259, -99.1396525907"
2,11497,2016,Agosto,AZCAPOTZALCO,SECUESTRO,PLAGIO O SECUESTRO,E,UI-1CD,2016-08-23T17:53:13-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,CONFIDENCIAL A/010/2002,CONFIDENCIAL A/010/2002,NaN,NaN,NaN,2016-08,NaN
3,16087,2016,Marzo,XOCHIMILCO,SECUESTRO,PLAGIO O SECUESTRO,XO-1,T3,2016-03-07T08:12:19-06:00,INVESTIGACIÓN EN XOCHIMILCO,MOCTEZUMA,VICENTE GUERRERO,SAN LORENZO ATEMOAYA,19.226944,-99.106343,2016-03,"19.2269439998, -99.106343"
4,47083,2017,Abril,IZTAPALAPA,SECUESTRO,PLAGIO O SECUESTRO,E,UI-1CD,2017-04-05T07:42:29-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,AVENIDA CIRCUNVALACIÓN,NaN,EJERCITO DE AGUA PRIETA,19.364236,-99.033860,2017-04,"19.3642356314, -99.0338595791"

In [57]:
df_copy.drop(labels=['Colonia', 'Fiscalía', 'Calle1', 'Calle2', 'Mes y año', 'Categoría de delito', 'Delito',
                     'Agencia', 'Unidad de investigación', 'Fecha inicio', 'Fiscalía'],
            axis=1, inplace=True)

In [58]:
df_copy.head()

,ID,Año,Mes,Alcaldía,Latitud,Longitud,Geopoint
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476"
1,5435,2016,Julio,CUAUHTEMOC,19.459304,-99.139653,"19.4593044259, -99.1396525907"
2,11497,2016,Agosto,AZCAPOTZALCO,NaN,NaN,NaN
3,16087,2016,Marzo,XOCHIMILCO,19.226944,-99.106343,"19.2269439998, -99.106343"
4,47083,2017,Abril,IZTAPALAPA,19.364236,-99.033860,"19.3642356314, -99.0338595791"

Checar si existen observaciones y/o columnas nulas

In [59]:
df_copy.isnull().any().any()

True

Checar cuáles columnas tienen nulos

In [60]:
df_copy.columns[df_copy.isnull().any()].tolist()

['Latitud', 'Longitud', 'Geopoint']

Checar el número de observaciones vacías

In [61]:
len(pd.isnull(df_copy).any(1).to_numpy().nonzero()[0].tolist())

1

Checar cuáles observaciones están vacías

In [62]:
pd.isnull(df_copy).any(1).to_numpy().nonzero()[0].tolist()

[2]

Eliminar las observaciones vacías

In [63]:
df_copy.dropna(axis=0, inplace=True)

Confirmar si existen observaciones y/o columnas nulas

In [64]:
df_copy.isnull().any().any()

False

In [65]:
df_copy.head()

,ID,Año,Mes,Alcaldía,Latitud,Longitud,Geopoint
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476"
1,5435,2016,Julio,CUAUHTEMOC,19.459304,-99.139653,"19.4593044259, -99.1396525907"
3,16087,2016,Marzo,XOCHIMILCO,19.226944,-99.106343,"19.2269439998, -99.106343"
4,47083,2017,Abril,IZTAPALAPA,19.364236,-99.033860,"19.3642356314, -99.0338595791"
5,57282,2017,Junio,IZTAPALAPA,19.382102,-99.022806,"19.3821015431, -99.0228057803"

In [66]:
df_copy.shape

(50, 7)

In [67]:
df_copy.Año.value_counts()

2016    33
2017    17
Name: Año, dtype: int64

In [68]:
len(df_copy[(df_copy.Año == 2016) | (df_copy.Año == 2017)])

50

In [69]:
df_copy[(df_copy.Año == 2016)].Alcaldía.value_counts()

IZTAPALAPA          15
BENITO JUAREZ        4
GUSTAVO A MADERO     3
ALVARO OBREGON       3
CUAUHTEMOC           3
TLALPAN              2
XOCHIMILCO           1
MIGUEL HIDALGO       1
COYOACAN             1
Name: Alcaldía, dtype: int64

In [70]:
df_copy[(df_copy.Año == 2017)].Alcaldía.value_counts()

IZTAPALAPA               6
MILPA ALTA               2
ALVARO OBREGON           2
COYOACAN                 1
IZTACALCO                1
VENUSTIANO CARRANZA      1
TLAHUAC                  1
CUAJIMALPA DE MORELOS    1
CUAUHTEMOC               1
GUSTAVO A MADERO         1
Name: Alcaldía, dtype: int64

# LOCALIDADES CDMX

In [71]:
file = '../../../data/inegi-localidades/AGEEML_20193181542178.csv'

In [72]:
df = pd.read_csv(file, encoding = "latin")

In [73]:
df_loc_copy = df.copy()

In [74]:
df_loc_copy.head()

,CVE_ENT,NOM_ENT,NOM_ABR,CVE_MUN,NOM_MUN,CVE_CAB,NOM_CAB,POB_TOTAL,TOTAL DE VIVIENDAS HABITADAS,POB_MASCULINA,POB_FEMENINA
0,9,CIUDAD DE MEXICO,CDMX,12,TLALPAN,NaN,NaN,650567,176086,312139,338428
1,9,CIUDAD DE MEXICO,CDMX,13,XOCHIMILCO,NaN,NaN,415007,102778,205305,209702
2,9,CIUDAD DE MEXICO,CDMX,15,CUAUHTEMOC,NaN,NaN,531831,173907,251725,280106
3,9,CIUDAD DE MEXICO,CDMX,14,BENITO JUAREZ,NaN,NaN,385439,141203,176410,209029
4,9,CIUDAD DE MEXICO,CDMX,16,MIGUEL HIDALGO,NaN,NaN,372889,120186,172667,200222

In [75]:
delegaciones = df_loc_copy[['CVE_MUN','NOM_MUN']].copy()
delegaciones

    CVE_MUN                 NOM_MUN
0        12                 TLALPAN
1        13              XOCHIMILCO
2        15              CUAUHTEMOC
3        14           BENITO JUAREZ
4        16          MIGUEL HIDALGO
5        17     VENUSTIANO CARRANZA
6         5        GUSTAVO A MADERO
7         6               IZTACALCO
8         7              IZTAPALAPA
9         8  LA MAGDALENA CONTRERAS
10        9              MILPA ALTA
11       11                 TLAHUAC
12       10          ALVARO OBREGON
13        2            AZCAPOTZALCO
14        3                COYOACAN
15        4   CUAJIMALPA DE MORELOS

In [79]:
df_copy.rename(columns={'Alcaldía':'NOM_MUN'}, inplace=True)

In [81]:
df_sec_deleg = pd.merge(left=df_copy, right=delegaciones, on='NOM_MUN')
df_sec_deleg

,ID,Año,Mes,NOM_MUN,Latitud,Longitud,Geopoint,CVE_MUN
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476",5
1,87961,2016,Agosto,GUSTAVO A MADERO,19.497711,-99.113795,"19.4977111806, -99.1137954007",5
2,454115,2016,Abril,GUSTAVO A MADERO,19.465953,-99.119078,"19.4659529998, -99.119078",5
3,541197,2016,Marzo,GUSTAVO A MADERO,19.501905,-99.131572,"19.5019049998, -99.131572",5
4,5435,2016,Julio,CUAUHTEMOC,19.459304,-99.139653,"19.4593044259, -99.1396525907",15
5,81282,2016,Julio,CUAUHTEMOC,19.415787,-99.130294,"19.4157873583, -99.1302944891",15
6,285252,2017,Mayo,CUAUHTEMOC,19.425019,-99.147545,"19.4250190536, -99.1475446637",15
7,525648,2016,Junio,CUAUHTEMOC,19.438993,-99.131302,"19.4389934612, -99.1313024823",15
8,16087,2016,Marzo,XOCHIMILCO,19.226944,-99.106343,"19.2269439998, -99.106343",13
9,47083,2017,Abril,IZTAPALAPA,19.364236,-99.033860,"19.3642356314, -99.0338595791",7
10,57282,2017,Junio,IZTAPALAPA,19.382102,-99.022806,"19.3821015431, -99.0228057803",7
11,93406,2016,Agosto,IZTAPALAPA,19.375438,-99.127734,"19.3754381264, -99.127733799",7
12,117542,2017,Abril,IZTAPALAPA,19.344554,-99.028470,"19.3445544269, -99.0284701392",7
13,132523,2017,Abril,IZTAPALAPA,19.344240,-99.010852,"19.3442400504, -99.0108519425",7
14,176501,2016,Junio,IZTAPALAPA,19.345762,-99.072054,"19.345762047, -99.0720536963",7
15,196079,2016,Julio,IZTAPALAPA,19.355134,-99.065756,"19.355134062, -99.0657560598",7
16,389640,2017,Enero,IZTAPALAPA,19.333978,-99.025577,"19.3339784713, -99.0255767793",7
17,429222,2016,Enero,IZTAPALAPA,19.381665,-99.021998,"19.3816649998, -99.021998",7
18,429785,2016,Enero,IZTAPALAPA,19.335479,-99.037198,"19.3354789998, -99.037198",7
19,431161,2017,Marzo,IZTAPALAPA,19.364018,-99.009138,"19.3640182478, -99.0091377765",7
20,432798,2016,Enero,IZTAPALAPA,19.348419,-99.082442,"19.3484189998, -99.082442",7
21,437887,2016,Junio,IZTAPALAPA,19.295361,-99.076811,"19.2953605707, -99.076810969",7
22,468290,2016,Agosto,IZTAPALAPA,19.367020,-99.011706,"19.3670204449, -99.0117064452",7
23,487643,2016,Febrero,IZTAPALAPA,19.342163,-98.988991,"19.3421629998, -98.988991",7
24,511605,2016,Agosto,IZTAPALAPA,19.330958,-99.046805,"19.3309580709, -99.0468051346",7
25,528689,2016,Mayo,IZTAPALAPA,19.351166,-98.993664,"19.3511659998, -98.993664",7
26,546846,2016,Febrero,IZTAPALAPA,19.338900,-98.984506,"19.3388999998, -98.984506",7
27,578391,2016,Enero,IZTAPALAPA,19.385958,-99.085945,"19.3859579998, -99.085945",7
28,601832,2016,Julio,IZTAPALAPA,19.381692,-99.074905,"19.381692335, -99.0749051103",7
29,619210,2016,Abril,IZTAPALAPA,19.335660,-98.985386,"19.3356599998, -98.985386",7
30,73437,2016,Mayo,MIGUEL HIDALGO,19.401258,-99.171524,"19.4012579998, -99.171524",16
31,75770,2017,Junio,CUAJIMALPA DE MORELOS,19.366923,-99.288543,"19.3669231445, -99.2885427779",4
32,76964,2016,Mayo,BENITO JUAREZ,19.393966,-99.156193,"19.3939659998, -99.156193",14
33,530193,2016,Mayo,BENITO JUAREZ,19.394735,-99.184815,"19.3947349998, -99.184815",14
34,530632,2016,Mayo,BENITO JUAREZ,19.371908,-99.166247,"19.3719079998, -99.166247",14
35,584019,2016,Julio,BENITO JUAREZ,19.375416,-99.144101,"19.375415568, -99.1441014786",14
36,86446,2016,Julio,TLALPAN,19.203624,-99.141741,"19.2036241828, -99.1417409471",12
37,563663,2016,Mayo,TLALPAN,19.249591,-99.183425,"19.2495907998, -99.183425",12
38,98471,2017,Abril,ALVARO OBREGON,19.395869,-99.197609,"19.3958687277, -99.1976085674",10
39,148823,2017,Junio,ALVARO OBREGON,19.327274,-99.259517,"19.327273764, -99.2595166415",10
40,337123,2016,Abril,ALVARO OBREGON,19.364888,-99.243284,"19.3648875903, -99.2432836909",10
41,628789,2016,Marzo,ALVARO OBREGON,19.341315,-99.200521,"19.3413149998, -99.200521",10
42,634735,2016,Febrero,ALVARO OBREGON,19.399082,-99.208210,"19.3990823368, -99.2082104808",10
43,103427,2017,Mayo,VENUSTIANO CARRANZA,19.441850,-99.080316,"19.4418501458, -99.0803158496",17
44,133545,2017,Marzo,COYOACAN,19.325635,-99.163973,"19.3256346235, -99.1639730272",3
45,186553,2016,Mayo,COYOACAN,19.349053,-99.163172,"19.3490534998, -99.1631721",3
46,155056,2017,Mayo,IZTACALCO,19.396492,-99.123594,"19.3964916686, -99.1235938042",6
47,594667,2017,Junio,MILPA ALTA,19.185461,-99.021718,"19.1854613333, -99.0217176031",9
48,617590,2017,Marzo,MILPA ALTA,19.218057,-98.993088,"19.2180565872, -98.9930877216",9
49,663370,2017,Marzo,TLAHUAC,19.302955,-99.064294,"19.302955168, -99.0642937322",11

In [82]:
df_sec_deleg.CVE_MUN.value_counts()

7     21
10     5
15     4
14     4
5      4
12     2
9      2
3      2
17     1
16     1
13     1
11     1
6      1
4      1
Name: CVE_MUN, dtype: int64

In [83]:
file = '../../../dataframes/inegi/df_sec_deleg.csv'

In [84]:
df_sec_deleg.to_csv(file, index=False)